.ProductViewSection
{
    width: 35%;
    padding: 10px;
    margin: 30px;
    border: 1.5px solid black;
}
.row
{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .columnTWo
{
    flex: 5;
} */
 /* .productrow */
/* {
    width: 10%;
    padding: 2px;
    margin-bottom:15px;
    cursor: pointer;
} */
.prdct_img
{
    display: block;
    width: 42%;
    cursor: pointer;
    margin: 10px 0px;
    padding: 12px 14px;
} 
.prdct_img1
{
    display: block;
    width: 132%;
    cursor: pointer;
    float: right;
}

.prdct_img:active{
    border: 2px solid;
  }

.view_div
{
    display: flex;
    align-items: center;
}