.card
{
    margin-bottom: 54px;
    border: 2px solid;
}
.card_img
{

}
.card_p
{

}
.srch
{
    margin: 58px 456px;
    padding: 10px 10px;
    width: 413px;
    font-size: medium;
}
.main
{
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}